@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    box-sizing: border-box;
    padding: 0px;
}
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}
.pfp {
    width: 300px; 
    height: 300px; 
    border-radius: 50%; 
    object-fit: cover; 
    border: 2px solid #EAEAEA;
    box-shadow: 0 0 20px #00000033;
}
.sub-block {
    background-color: #e1f0e6;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 12px;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 0 35px #00000033;
}
strong {
    font-weight: bold;
}
ul {
    font-weight: normal;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
td{
    background-color: #e8f5f2; 
    padding: 20px; width: 30%; 
    vertical-align: top;
    max-width: 30%;
}
.tabla1{
    width: 100%; 
    border-spacing: 20px;
}
.tabla2{
    width: 100%;
}
h2{
    text-align: center;

}
p{
    padding-left: 40px;
    line-height: 1.5;
}
.sub-block input, .sub-block textarea {
    width: 100%; /* Hace que los inputs y textarea ocupen el 100% del ancho del contenedor */
    box-sizing: border-box; /* Asegura que el padding y border no excedan el ancho del contenedor */
    margin-bottom: 10px; /* Espaciado entre los inputs */
}
.tabla2 tr td ul{
    padding: 15px;
    font-size: 18px;
}
a:link{
    color : rgb(15, 122, 1);
    background-color: transparent;
    text-decoration: none;
}
a:visited{
    color : pink;
    background-color: transparent;
    text-decoration: none;
}
a:hover{
    color : red;
    background-color: transparent;
    text-decoration: underline;
}
a:active{
    color : yellow;
    background-color: transparent;
    text-decoration: underline;
}